@{
    ViewData["Title"] = "Home Page";
}

<div id="lifeCounterContainer" class="lifeCounterCenter">
    <input id="players" type="text" class="form-control" aria-label="Large" placeholder="Number of Players"></input>
    <input id="health" type="text" class="form-control" aria-label="Large" placeholder="Health"></input>
    <button id="okButton" class="btn btn-dark" onclick="generatePlayerLifeView()">Ok</button>
    <div id="playerNamesContainer" class="playerDisplay"></div>
    <div id="playerHealthContainer" class="playerDisplay"></div>
    <button id="startButton" class="btn btn-dark startButton" onclick="startPlayer()">Start</button>
</div>